<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initialInvestment">Initial Investiment</label>
      <input
        [(ngModel)]="enteredInitialInvestment"
        id="initialInvestment"
        name="initialInvestment"
        type="number"
      />
    </p>
    <p>
      <label for="annualInvestment">Anual Investiment</label>
      <input
        [(ngModel)]="enteredAnnualInvestment"
        id="annualInvestment"
        name="annualInvestment"
        type="number"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expectedReturn">Expected Return</label>
      <input
        [(ngModel)]="enteredExpectedReturn"
        id="expectedReturn"
        name="expectedReturn"
        type="number"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        [(ngModel)]="enteredDuration"
        id="duration"
        name="duration"
        type="number"
      />
    </p>
  </div>
  <button type="submit">Calculate</button>
</form>
